*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: $font-stack;
  line-height: 1.6;
  overflow-x: hidden;
  color: $dark-color;
}

a {
  color: $primary-color;
  text-decoration: none;
  transition: $transition-base;

  &:hover {
    opacity: 0.8;
  }
}
